
<app-mobile-header></app-mobile-header>
<div class="kingster-body-outer-wrapper ">
  <div class="kingster-body-wrapper clearfix  kingster-with-frame">

    <app-header></app-header>



    <div class="kingster-page-title-wrap  kingster-style-medium kingster-center-align">
      <div class="kingster-header-transparent-substitute"></div>
      <div class="kingster-page-title-overlay"></div>
      <div class="kingster-page-title-container kingster-container">
        <div class="kingster-page-title-content kingster-item-pdlr">
          <div class="kingster-page-caption">No Excerpt, With Space</div>
          <h1 class="kingster-page-title">Portfolio 3 Columns</h1></div>
      </div>
    </div>
    <div class="kingster-page-wrapper" id="kingster-page-wrapper">
      <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper " style="padding: 50px 0px 30px 0px;">
          <div class="gdlr-core-pbf-background-wrap"></div>
          <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
              <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-portfolio-item gdlr-core-item-pdb clearfix  gdlr-core-portfolio-item-style-grid" style="padding-bottom: 10px ;">


                  <div class="filter light-filter clearfix gdlr-core-filterer-wrap gdlr-core-js  gdlr-core-item-pdlr gdlr-core-style-text gdlr-core-center-align">
                    <ul>
                      <li><a href="#" class="active" data-filter="*">All</a></li>
                      <li><a href="#" data-filter=".class1" >Architecture</a></li>
                      <li><a href="#" data-filter=".class2" >Highrise</a></li>
                      <li><a href="#" data-filter=".class3" >Housing</a></li>
                    </ul>
                  </div>


                  <div class="gdlr-core-portfolio-item-holder gdlr-core-js-2  filter-container clearfix" data-layout="fitrows">
                    <div class="gdlr-core-item-list class1 gdlr-core-item-pdlr gdlr-core-column-20 gdlr-core-column-first">
                      <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                          <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                            <a class="gdlr-core-lightgallery gdlr-core-js " href="assets/upload-test/shutterstock_53600224.jpg" data-lightbox-group="gdlr-core-img-group-1"><img src="assets/upload-test/shutterstock_53600224-400x533.jpg" width="600" height="800" alt="" /><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><i class="gdlr-core-portfolio-icon arrow_expand" ></i></span></span>
                                                                </span>
                            </a>
                          </div>
                        </div>
                        <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                          <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;"><a href="#" >Charity &#038; Voluntary For Social</a></h3></div>
                      </div>
                    </div>
                    <div class="gdlr-core-item-list class2 gdlr-core-item-pdlr gdlr-core-column-20">
                      <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                          <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                            <a class="gdlr-core-lightgallery gdlr-core-js " href="assets/upload-test/rawpixel-577480-unsplash-1.jpg" data-lightbox-group="gdlr-core-img-group-1"><img src="assets/upload-test/rawpixel-577480-unsplash-1-400x533.jpg" width="600" height="800"  alt="" /><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><i class="gdlr-core-portfolio-icon arrow_expand" ></i></span></span>
                                                                </span>
                            </a>
                          </div>
                        </div>
                        <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                          <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;"><a href="#" >Medical Breakthrough</a></h3></div>
                      </div>
                    </div>
                    <div class="gdlr-core-item-list class3 gdlr-core-item-pdlr gdlr-core-column-20">
                      <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                          <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                            <a class="gdlr-core-lightgallery gdlr-core-js " href="assets/upload-test/pexels-photo.jpg" data-lightbox-group="gdlr-core-img-group-1"><img src="assets/upload-test/pexels-photo-400x533.jpg" width="600" height="800"  alt="" /><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><i class="gdlr-core-portfolio-icon arrow_expand" ></i></span></span>
                                                                </span>
                            </a>
                          </div>
                        </div>
                        <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                          <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;"><a href="#" >Family Law Advisory</a></h3></div>
                      </div>
                    </div>
                    <div class="gdlr-core-item-list class1 gdlr-core-item-pdlr gdlr-core-column-20 gdlr-core-column-first">
                      <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                          <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                            <a class="gdlr-core-lightgallery gdlr-core-js " href="assets/upload-test/training-train-lime-barbell-39688.jpg" data-lightbox-group="gdlr-core-img-group-1"><img src="assets/upload-test/training-train-lime-barbell-39688-400x533.jpg" width="600" height="800"  alt="" /><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><i class="gdlr-core-portfolio-icon arrow_expand" ></i></span></span>
                                                                </span>
                            </a>
                          </div>
                        </div>
                        <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                          <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;"><a href="#" >Free Training For Senior</a></h3></div>
                      </div>
                    </div>
                    <div class="gdlr-core-item-list class2 gdlr-core-item-pdlr gdlr-core-column-20">
                      <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                          <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                            <a class="gdlr-core-lightgallery gdlr-core-js " href="assets/upload-test/joshua-fuller-368384-unsplash.jpg" data-lightbox-group="gdlr-core-img-group-1"><img src="assets/upload-test/joshua-fuller-368384-unsplash-400x533.jpg" width="600" height="800" alt="" /><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><i class="gdlr-core-portfolio-icon arrow_expand" ></i></span></span>
                                                                </span>
                            </a>
                          </div>
                        </div>
                        <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                          <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;"><a href="#" >Stage Play From Students</a></h3></div>
                      </div>
                    </div>
                    <div class="gdlr-core-item-list class3 gdlr-core-item-pdlr gdlr-core-column-20">
                      <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                          <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                            <a class="gdlr-core-lightgallery gdlr-core-js " href="assets/upload-test/austin-neill-247047-unsplash.jpg" data-lightbox-group="gdlr-core-img-group-1"><img src="assets/upload-test/austin-neill-247047-unsplash-400x533.jpg" width="600" height="800"  alt="" /><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><i class="gdlr-core-portfolio-icon arrow_expand" ></i></span></span>
                                                                </span>
                            </a>
                          </div>
                        </div>
                        <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                          <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;"><a href="#" >Concert For Charity</a></h3></div>
                      </div>
                    </div>
                    <div class="gdlr-core-item-list class1 gdlr-core-item-pdlr gdlr-core-column-20 gdlr-core-column-first">
                      <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                          <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                            <a class="gdlr-core-lightgallery gdlr-core-js " href="assets/upload-test/shutterstock_218235004.jpg" data-sub-html="Studying" data-lightbox-group="gdlr-core-img-group-1"><img src="assets/upload-test/shutterstock_218235004-400x533.jpg" width="600" height="800"  alt="" /><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><i class="gdlr-core-portfolio-icon arrow_expand" ></i></span></span>
                                                                </span>
                            </a>
                          </div>
                        </div>
                        <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                          <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;"><a href="#" >Free Tuition From Prof. Smith</a></h3></div>
                      </div>
                    </div>
                    <div class="gdlr-core-item-list class2 gdlr-core-item-pdlr gdlr-core-column-20">
                      <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                          <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                            <a class="gdlr-core-lightgallery gdlr-core-js " href="assets/upload-test/shutterstock_361397258.jpg" data-lightbox-group="gdlr-core-img-group-1"><img src="assets/upload-test/shutterstock_361397258-400x533.jpg" width="600" height="800" alt="" /><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><i class="gdlr-core-portfolio-icon arrow_expand" ></i></span></span>
                                                                </span>
                            </a>
                          </div>
                        </div>
                        <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                          <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;"><a href="#" >Business Showcase Session</a></h3></div>
                      </div>
                    </div>
                    <div class="gdlr-core-item-list class3 gdlr-core-item-pdlr gdlr-core-column-20">
                      <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                          <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                            <a class="gdlr-core-lightgallery gdlr-core-js " href="assets/upload-test/shutterstock_735267403.jpg" data-lightbox-group="gdlr-core-img-group-1"><img src="assets/upload-test/shutterstock_735267403-400x533.jpg" width="600" height="800"  alt="" /><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><i class="gdlr-core-portfolio-icon arrow_expand" ></i></span></span>
                                                                </span>
                            </a>
                          </div>
                        </div>
                        <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                          <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;"><a href="#" >Charity Activity in Atlanta</a></h3></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <app-footer></app-footer>
  </div>
</div>
